<% content_for :title do %>Cucumber Dashboard<% end %>
<div class="gridster">
  <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="sogeti-image" data-view="Image" data-image="/FBDLogo.png" data-title="sogeti"></div>
    </li>
      <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
        <div data-id="welcome" data-view="Text" data-title="Welcome to the Freshfields Bruckhaus Deringer Dashboard" data-text=""></div>
     </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="real-data" data-view="List" data-unordered="true" data-title="Cucumber Results"><div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="failed" data-view="List" data-unordered="true" data-title="Failed Scenarios"><div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy3" data-view="Meter" data-title="Tests Passed %" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix=""></div>
    </li>
  </ul>
</div>
