// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  rgba(200, 200, 200, 0.7);

$title-color:       #003768;
$moreinfo-color:    #003768;

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-text {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
    font-size: 20px;
  }

  .updated-at {
    color: #003768;
  }


  &.large h3 {
    font-size: 65px;
    color: #003768;
  }

  .text {
    color: #003768;
  }
}
